* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: "Kumbh Sans", sans-serif;
  max-width: 1440px auto;
  font-size: 18px;
  line-height: 1;
  /* height: 80vh; */
  background: linear-gradient(
    to bottom,
    hsl(273, 75%, 66%),
    hsl(240, 73%, 65%)
  );
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
h2 {
  font-weight: 500;
}
.container {
  width: 1150px;
  margin: 100px auto;
  background-color: #fff;
  border-radius: 11px;
  padding: 32px 48px;
  display: flex;
  gap: 32px;
  justify-content: center;
  align-items: center;
}
.col-2 {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.item {
  box-shadow: 0 0 32px rgba(0, 0, 0, 0.1);
  padding: 24px;
  display: grid;
  grid-template-columns: 1fr auto;
  column-gap: 32px;
  row-gap: 24px;
  align-items: center;
}
.hidden-box {
  grid-column: 1;
  display: none;
  line-height: 1.3;
}
.arrow-down {
  background: none;
}
.sub-header {
  font-size: 24px;
  font-weight: 500;
  /* color: #087f5b; */
}
.arrow-open {
  border: none;
  background: none;
}
.arrow-icon {
  border: none;
  background: none;
  font-size: 24px;
}

.open {
  border-top: hsl(14, 88%, 65%) solid 2px;
}
.open .hidden-box {
  display: block;
}

.open .arrow-down,
.open .sub-header,
.open .arrow-icon {
  color: hsl(14, 88%, 65%);
}
